// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// CSS Reset/Normalize
@import 'vendor/normalize';

// Variables
@import 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  padding-top: 56px;
}
