// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

// Vendor
@import 'vendor/normalize';
@import 'vendor/hamburgers/hamburgers.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #414141;
}
